.flex-frames{
    display:grid;
     grid-template-columns: auto auto auto ;
     grid-gap:30px;
     grid-template-areas:" flex-frame-1 flex-frame-2 flex-frame-3 flex-frame-4 flex-frame-5"
     ;
     margin-top: 60px;
}

.flex-frame-1{
    grid-area: flex-frame-1;
    display:flex;
}
.flex-frame-2{
    grid-area: flex-frame-2;
    display:flex;
}
.flex-frame-3{
    grid-area: flex-frame-3;
    display:flex;
}
.flex-frame-4{
    grid-area: flex-frame-4;
    display:flex;
}
.flex-frame-5{
    grid-area: flex-frame-5;
    display:flex;
}
.frame-text{
 margin-left: 10px;
 font-family: $font-primary;
 font-size: 17px;
}
@include breakpoint-down(900px){
    .flex-frames{
        display:grid;
         grid-template-columns: auto auto auto ;
         grid-gap:10px;
         grid-template-areas:" flex-frame-1 flex-frame-2 flex-frame-3 flex-frame-4 flex-frame-5"
         ;
         margin-top: 60px;
         margin-left: 40px;
         
    }
    .frame-text{
        margin-left: 10px;
        font-family: $font-primary;
        font-size: 13px;
       }
       .flex-frame-img{
           width: 40px;
           height: 40px;
       }
}
@include breakpoint-down(700px){
    .flex-frames{
        display:grid;
         grid-template-columns: auto auto auto ;
         grid-gap:10px;
         grid-template-areas:" flex-frame-1 flex-frame-2 flex-frame-2  flex-frame-3 "
         "flex-frame-4 flex-frame-4 flex-frame-5 flex-frame-5"
         ;
         margin-top: 60px;
    }
    .frame-text{
        margin-left: 10px;
        font-family: $font-primary;
        font-size: 13px;
       }
       .flex-frame-img{
           width: 40px;
           height: 40px;
       }
       .flex-frame-1{
        grid-area: flex-frame-1;
        display:flex;
        margin-left:150px;
    }
    .flex-frame-2{
        grid-area: flex-frame-2;
        display:flex;
        margin-left:-20px;
    }
    .flex-frame-3{
        grid-area: flex-frame-3;
        display:flex;
        margin-left:-180px;
    }
    .flex-frame-4{
        grid-area: flex-frame-4;
        display:flex;
        margin-left:240px;
    }
    .flex-frame-5{
        grid-area: flex-frame-5;
        display:flex;
        margin-left:-50px;
    }

}
@include breakpoint-down(626px){
    .flex-frames{
        display:grid;
         grid-template-columns: auto auto auto ;
         grid-gap:10px;
         grid-template-areas:" flex-frame-1 flex-frame-1 flex-frame-2  flex-frame-2 "
         "flex-frame-3 flex-frame-3 flex-frame-4 flex-frame-4 " 
         " flex-frame-5 flex-frame-5  flex-frame-5 flex-frame-5 "
         ;
         margin-top: 60px;
    }
    .frame-text{
        margin-left: 10px;
        font-family: $font-primary;
        font-size: 13px;
       }
       .flex-frame-img{
           width: 40px;
           height: 40px;
       }
       .flex-frame-1{
        grid-area: flex-frame-1;
        display:flex;
        margin-left:250px;
    }
    .flex-frame-2{
        grid-area: flex-frame-2;
        display:flex;
    }
    .flex-frame-3{
        grid-area: flex-frame-3;
        display:flex;
        margin-left:230px;
        margin-top: 30px;
    }
    .flex-frame-4{
        grid-area: flex-frame-4;
        display:flex;
    margin-left: -10px;
    margin-top: 30px;
    }
    .flex-frame-5{
        grid-area: flex-frame-5;
        display:flex;
     width: 300px;
     margin-left:460px;
     
    
    }
            
    
}